<!-- <p>contactos works!</p> -->
<p class="titulo">Formulario de Contacto</p>

<section id="contactenos" class="seccion">

    <div class="container">

      <div class="row">
        <div class="columna columna-41 empujar-58 columna-mobile-100 empujar-mobile-0 sinpadding-mobile">
          <form id="formulario-contacto">

            <div class="form-block" id="grupo-nombre">
              <input type="text" id="nombre" class="form-control" placeholder="Nombre" required maxlength="20">
              <p class="formulario-input-error">
                El nombre solo tiene letras
              </p>
            </div>

            <div class="form-block" id="grupo-email">
              <input type="text" id="email" class="form-control" placeholder="Correo Electronico" required maxlength="40">
              <p class="formulario-input-error">
                El correo electronico no tiene el formato correcto
              </p>
            </div>

            <div class="form-block" id="grupo-mensaje">
              <textarea id="mensaje" cols="30" rows="10" placeholder="Mensaje" required maxlength="500"></textarea>
              <p class="formulario-input-error">
                Solo numeros y letras
              </p>
            </div>

            <div class="form-block bloque-ultimo">
              <input type="submit" id="btnEnviar" class="boton boton-negro" value="Enviar">
              <p class="formulario-mensaje-exito">
                Formulario enviado exitosamente!
              </p>
            </div>

          </form>

        </div>
      </div>
    </div>

  </section>