
.navbar {
    /* overflow: hidden; */
    /* background-color: rgb(243, 120, 243);
    padding: 30px;
    font-size: 40px;
    border: 1px solid black;
   width: 100%;
   text-align: center;
    cursor: pointer; */
    font-size: 30px;
    padding: 15px;
    border: 1px solid black;
    cursor: pointer;
    margin-right: 20px;
    
}

/* .navbar a:hover {
    background: blueviolet;
} */

.navbar a {
    /* display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin-left: 10rem; */
    padding: 10px;
    text-decoration: none;
}

.active {
    background-color: rgb(183, 0, 255);
}